﻿body {
}
.row {
    margin: 0;
}

#container-fluid {
    padding-left:0;
    padding-right:0;
}
.col-sm-4,
.col-sm-8,
.col-xs-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-sm-8 p {
    color: #303030;
    font-size: 1.5em;
    margin-left: 20px;
}
.col-sm-8 h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-left: 20px;
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

    .social-link:hover,
    .social-link:focus {
        background: #ddd;
        text-decoration: none;
        color: #555;
    }
#toprow {
    background: none !important;
}
