﻿

.card:hover {

    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
     box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
