﻿.row{
    margin:0;
}

.jumbotron {
    padding-left:0;
    padding-right:0;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white !important;
    text-shadow: 2px 2px 4px black;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:600px ;
    width: 100%;
}
#forgot {
    padding-top: 120px !important;
}
.jumbotron img {
    width: 100%;
    height: auto;
}


:focus {
    outline: none;
}
#btn-inscrit {
    padding:8px 45px 8px 45px;
    color:white;
    border:0;
    font-size:1.5em;
}

.text-center h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}
.text-center p {
    font-weight: 400;
    margin-bottom: 0;
}

.card {
    cursor: pointer;
}
body {
    background-image: url('../images/bg1.jpg');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
}
.page-content {
    padding:0px !important;
}
.container-fluid {
    padding:0px;
}
.card-img-top {
    height: 20vh;
}