﻿body {
    min-height: 100vh;
}
html {
    scroll-behavior: smooth;
}
.sticky-top {
    top: 2em !important;
}
.navbar .dropdown-menu .form-control {
    width: 250px;
}

#search {
    width: 350px;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
        margin: 0;
    }

        #content.active {
            margin-left: 17rem;
            width: calc(100% - 17rem);
        }
}

body {
    background: #6f91ae;
    background: linear-gradient(to right, #1d7fe9cf, #9d618db3);
    min-height: 100vh;
    overflow-x: hidden;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.form-control {
    border: 0px;
    border-bottom: solid #007bff;
}

a {
    color: black;
}

#navbarDropdownMenuLink {
    cursor: pointer;
}