﻿
#CommentSection {
    overflow: auto;
    max-height:1000vh;
    min-height:60vh;
}

.comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}
#commentSticky{
    top:0 !important;
}
.rounded-circle {
    width:70px;
    height:70px;
    background: #512DA8;
    font-size: xx-large;
    color: #fff;
    background-position: center center;
    text-align: center;
}