﻿<html>
@RenderSection("scripts", required: false)
@{
    ViewBag.Title = "Index";
}
<head>
    <title>THOT</title>
    <meta charset="utf-8">
    <link href="~/Style/LayoutStyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/style/MyStyleSheet.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" class="bg-light">
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="nav-item dropdown py-4 px-3 mb-4 bg-light">
            <div class="media d-flex align-items-center">
                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                <div class="media-body">
                    <h4 class="m-0">@Session["FullName"]</h4>
                    <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"><i class="fa fa-eye mr-2"></i> View profile</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-edit mr-2 text-info"></i> Edit</a>
                        <a class="dropdown-item" href="index.html"><i class="fa fa-sign-out mr-2 text-danger"></i> Log out</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-gray font-weight-bold text-uppercase px-3 small pt-4 mb-0">Main</p>
        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="@Url.Action("TeacherCorner","Enseignant")" id="accueil" class="nav-link bg-light text-dark font-italic ">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    <big>Home</big>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Chat","Enseignant", new { idreciever = Session["IdEnseignant"] })" id="chat" class="nav-link text-dark font-italic">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    <big>Chat room</big>
                </a>
            </li>
        </ul>
    </div>
    <div class="page-content p-4 " id="content">
        <div class="row rounded-top" id="toprow">
            <div class="col-12">
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 sticky-top">
                    <i class="fa fa-bars my-1 mr-2"></i>
                    <small class="text-uppercase font-weight-bold">Menu</small>
                </button>
            </div>
        </div>
        @RenderBody()
        <button id="sidebarCollapse2" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 fixed-bottom">
            <i class="fa fa-bars"></i>
        </button>
        <footer class="sticky-bottom bg-light" id="downrow">
            <center>&copy; @DateTime.Now.Year - THOT .Co</center>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
        $(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
            $('#sidebarCollapse2').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });
    </script>
</body>
</html>
