﻿@{
    ViewBag.Title = "Chat";
    ViewBag.Title = "ChatMessage";
    Layout = "~/Views/Enseignant/_LayoutEnseignant.cshtml";
    string active = " active ";
}
<link href="~/Style/chatStyle.css" rel="stylesheet" />
<div class="container p-4">
    <div class="row rounded-lg overflow-hidden shadow">
        <div class="col-5 px-0 bg-white">
            <div class="bg-gray px-4 py-2 bg-info">
                <p class="h5 mb-0 py-1">Users</p>
            </div>
            <div class="messages-box">
                <div class="list-group rounded-0">
                    @foreach (var element in ViewBag.listLogins)
                    {
                        <a class="list-group-item list-group-item-action @if (ViewBag.loginreciever==element.LoginEtudiant) { @active; }rounded-0" href="@Url.Action("Chat","Enseignant", new { loginreciever = element.LoginEtudiant })">
                            <div class="media active">
                                <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                                <div class="media-body ml-4">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0">@element.LoginEtudiant</h6>
                                    </div>
                                    <p class="font-italic mb-0 text-small"></p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="col-7 px-0 bg-white">
            <form action="#" class="bg-light m-0">
                <div class="input-group">
                    <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 m-0 bg-light" id="MessageArea">
                    <div class="input-group-append">
                        <button type="button" id="Send" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
            </form>
            <div class="px-4 py-5 chat-box bg-white" id="messageSection">

            </div>
        </div>
    </div>
</div>
<script>
    load2("", 0);
    const out = document.getElementById("messageSection")
    let c = 0
    $('#Send').click(function () {
        load2($("#MessageArea").val(), 1);
        $('#MessageArea').val("");
    });
    setInterval(function () {
        load2("", 1);
    }, 500);
    function load2(Msg, id) {
        $.ajax({
            url: '/Enseignant/ChatMessage',
            type: 'POST',
            dataType: 'json',
            data: { MsgText: Msg, id: id, to: '@ViewBag.loginreciever' },
            success: function (data) {
                for (var element = 0 in data) {
                    if ('@Session["LoginEnseignant"]' != data[element].loginsender) {
                        $("#messageSection").prepend('<div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle"><div class="media-body ml-3 "><div class="bg-light rounded py-2 px-3 mb-2"> <p class="text-small mb-0 text-muted">' + data[element].contenu + '</p></div><p class="small text-muted">'+formaterDate(data[element].dateinscrit)+'</p></div></div>')
                    }
                    else {
                        $("#messageSection").prepend('<div class="media w-50 ml-auto mb-3"><div class="media-body"><div class="bg-primary rounded py-2 px-3 mb-2"><p class="text-small mb-0 text-white">' + data[element].contenu + '</p></div><p class="small text-muted">'+formaterDate(data[element].dateinscrit)+'</p></div></div>')
                    }
                }
                }, error: function (data) {
                    alert(data.error);
                }
        });
    }
    function formaterDate(date) {
        var nowDate = new Date(parseInt(date.substr(6)));
        return nowDate.getDate() + "/" + nowDate.getMonth() + "/" + nowDate.getFullYear() + " | " + nowDate.getHours() + ":" + nowDate.getMinutes() ;
    }
    $( document ).ready(function() {
	  $('#accueil').removeClass( "bg-light" );
	  $('#chat').addClass( "bg-light" );
	});
</script>
