﻿@model projetFinal.Models.ClsCours
@{
    ViewBag.Title = "ShowDetailCours";
    ViewBag.Title = "TeacherCorner";
    Layout = "~/Views/Enseignant/_LayoutEnseignant.cshtml";
    HttpContext.Current.Session["lastRecordId"] = 0;
    int i = 1;

}
<link href="~/Style/ShowDetailCours.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row py-4 bg-light rounded">
        <div class="col-12 ">
            <button onclick="edit()" class="btn fa fa-4x fa-edit pull-right"></button>
        </div>
        <div class="col-sm-4 col-xs-6 ">
            <img src="~/images/@Html.DisplayFor(model => model.Image)" alt="" class="img-thumbnail">
        </div>
        <div class="col-sm-8 col-xs-6 ">
            <h1 style="text-shadow: 2px 2px 4px gray;" id="nom">@Html.DisplayFor(model => model.Nomcours)</h1>
            <p id="desc">
                <i>
                    @Html.DisplayFor(model => model.Description)
                </i>
            </p>
            <p>
                <span class="text-muted">@Html.DisplayFor(model => model.Niveau)</span>
                <br />
                @ViewBag.NbCours Courses
                <br />
                @ViewBag.NbEtudiant Etudiants
                <br />
                <b id="prix">
                    <i>@Html.DisplayFor(model => model.Prix) $CAD</i>
                </b>
            </p>
            <div id="infos"></div>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-sm-9 col-xs-12 ">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" id="myFrame" src=""></iframe>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12 " style="max-height: 100vh;overflow:auto;-webkit-overflow-scrolling: touch;">
            <div class="list-group bg">
                <button class="list-group-item bg-dark text-center btn text-light fa fa-2x fa-plus" onclick='window.location.href="@Url.Action("UpLoadFile","Enseignant", new { idCours = @Html.DisplayFor(model => model.Id),Name="Video_",ext=".mp4" }, null)"'></button>
                @foreach (string element in ViewBag.liens)
                {
                    <button class="list-group-item btn btn-primary text-dark" onclick="changeCours('~/Upload/@element',this)">Chapitre @i</button>
                    i++;
                }
                <button class="list-group-item bg-dark text-center btn text-light fa fa-2x fa-plus"></button>
            </div>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-sm-9 col-xs-12 mb-2 mt-2">
            <button class="btn" style="color:royalblue;" onclick='window.location.href="@Url.Action("UpLoadFile","Enseignant", new { idCours = @Html.DisplayFor(model => model.Id),Name="Notes_",ext=".pdf" }, null)"'><i class="fa fa-upload"></i> Notes de cours</button>
            <button class="btn" style="color:green;" onclick='window.location.href="@Url.Action("UpLoadFile","Enseignant", new { idCours = @Html.DisplayFor(model => model.Id),Name="Solutions_",ext=".pdf" }, null)"'><i class="fa fa-upload"></i> Solutionnaires</button>
            <button class="btn" onclick='window.location.href="@Url.Action("UpLoadFile","Enseignant", new { idCours = @Html.DisplayFor(model => model.Id),Name="Labs_",ext=".pdf" }, null)"'><i class="fa fa-upload"></i> Laboratoires</button>
            <button class="btn" onclick='window.location.href="@Url.Action("UpLoadFile","Enseignant", new { idCours = @Html.DisplayFor(model => model.Id),Name="Exercies_",ext=".pdf" }, null)"'><i class="fa fa-upload"></i> Exercices</button>
            <button class="btn" onclick='window.location.href="@Url.Action("UpLoadFile","Enseignant", new { idCours = @Html.DisplayFor(model => model.Id),Name="Quiz_",ext=".pdf" }, null)"'><i class="fa fa-upload"></i> Quiz</button>
            <button class="btn" onclick='window.location.href="@Url.Action("UpLoadFile","Enseignant", new { idCours = @Html.DisplayFor(model => model.Id),Name="Photo_",ext=".jpg" }, null)"'><i class="far fa-image"></i> Change photo</button>
        </div>
    </div>
</div>
<script>
 
    function changeCours(lien,btn) {
        $('#myFrame').attr('src', lien);
        $('.list-group button').removeClass("active");
        $(btn).addClass("active");
    }
    function edit() {

        $('#nom').html('<input id="nomCours" type="text" class="form-control rounded-0"  placeholder="Title..." >');
        $('#desc').html('<textarea id="desCours" class="form-control rounded-0" rows="4" placeholder="Description..."></textarea>');
        $('#prix').html('<input id="prixCours" type="number" step="any" class=" rounded-0"  placeholder="Price..." >$');
        $('#infos').html('<button class="btn btn-success btn-lg" onclick="update()"><i class="fa fa-save"></i>Save</button><button class="btn btn-danger btn-lg mx-3" onclick="unedit()"><i class="fa fa-times"></i> Cancel</button>');
    }
   // function unedit bloque le script probleme de syntax
      @*function unedit() {
        $('#nom').html('@Html.DisplayFor(model => model.Nomcours)');
        $('#desc').html('<i>@Html.DisplayFor(model => model.Description)</i>');
        $('#prix').html('<i>@Html.DisplayFor(model => model.Prix)$CAD</i>');
        $('#infos').html('');
    

    }*@


    function update() {


        var nom = $('#nomCours').val();
        var desc = $('#desCours').val();
        var prix = $('#prixCours').val();
        $.ajax({
            url: '/Enseignant/UpdateCours',
            type: 'POST',
            dataType: 'json',
            data: { Nom: nom, Desc: desc, Prix:prix,idCours:'@Html.DisplayFor(model => model.Id)'},
            success: function (data) {
               
              //display seccess message to the DOM
                alert('update ok');
                }, error: function (data) {
                    alert(data.error);
                }
        });
    }
  
</script>
