﻿@model IEnumerable<projetFinal.Models.ClsCours>
@{
    ViewBag.Title = "studentCorner";
    ViewBag.Title = "Index";
    ViewBag.Title = "ShowDetailCours";
    ViewBag.Title = "_LayoutEnseignant";
    Layout = "~/Views/Enseignant/_LayoutEnseignant.cshtml";
}
<link href="~/Style/StudentCornerStyle.css" rel="stylesheet" />
<div class="row text-white">
    <div class="col-12 input-group">
        <h2 class="h1 ml-3 mr-5">List Of My Courses</h2>
        <button type="button" class="btn btn-info  " data-toggle="collapse" href="#collapseAdd" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-plus"></i> Add New</button>
    </div>
    <div class="collapse row" id="collapseAdd">
        <div class="container bg-light m-5 p-5 rounded">
            <div class="container-fluid">
                <div class="col-12">
                    <div class="md-form mt-0">
                        <div class='division text-center text-dark'>
                            <big><b>Add a Course</b></big>
                            <hr class='mb-4'>
                        </div>
                        <input type="text" class='form-control my-1' id="NomCours" name='NomCours' placeholder="Title" required>
                        <textarea rows="4" class='form-control my-1' id="Desc" name='Description' placeholder="Description..." required></textarea>
                        <input type="number" class='form-control my-1' id="prixCours" step="any" name='Prix' placeholder="Price $CAD" required>
                        <select class="form-control my-2" id="selectCat" name="Niveau">
                            @foreach (string element in ViewBag.cat)
                            {
                                <option value="@element">@element</option>
                            }
                        </select>
                        <select class="form-control my-2" id="selectedNiveau" name="Niveau">
                            @foreach (string element in ViewBag.niveau)
                            {
                                <option value="@element">@element</option>
                            }
                        </select>
                      
                    </div>
                </div>
            
                <button onclick="insert()" class="btn btn-success fa fa-plus mx-3">ADD</button>
            </div>
        </div>

    </div>
</div>
<div class="row text-white py-4 mb-4">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3 col-xs-6 mt-5 d-flex align-items-stretch" title="@Html.DisplayFor(modelItem => item.Prix) $CAD" data-html="true" data-content="<div class='row mb-4'>
                    <div class='col-sm-4 col-xs-6'>
                        @*change url from images folder to upload folder*@ 
                    <img src='/images/@Html.DisplayFor(modelItem => item.Image)' alt=' image' class='img-fluid'>
                    </div>
                    <div class='col-sm-8 col-xs-6'>
                        <h1 style='text-shadow: 2px 2px 4px gray;'>@Html.DisplayFor(modelItem => item.Nomcours)</h1>
                    <p>@Html.DisplayFor(modelItem => item.Nbremodule) Courses
                    </div>
                    </div>" data-toggle="popover" data-placement="right" data-trigger="hover"  onclick='window.location.href="@Url.Action("ShowDetailCours","Enseignant", new { id = @Html.DisplayFor(modelItem => item.Id) }, null)"'>
					<div class="card shadow">
						<img class="card-img-top img-fluid" src="~/images/@Html.DisplayFor(modelItem => item.Image)" alt="Card image cap">
						<div class="card-block m-4">
                            <h4 class="card-title m-2 mb-2 text-dark">@Html.DisplayFor(modelItem => item.Nomcours)</h4>
							<span class="card-text m-2"><i><big><font color="red">@Html.DisplayFor(modelItem => item.Nbremodule) Courses</font></big></i></span>
						</div>
					</div>
			</div>
    }
</div>
<script>
    /* $(document).ready( function() {
         $(document).on('change', '.btn-file :file', function() {
         var input = $(this),
             label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
         input.trigger('fileselect', [label]);
         });

         $('.btn-file :file').on('fileselect', function(event, label) {

             var input = $(this).parents('.input-group').find('#form-control'),
                 log = label;

             if( input.length ) {
                 input.val(log);
             } else {
                 if( log ) alert(log);
             }

         });
         function readURL(input) {
             if (input.files && input.files[0]) {
                 var reader = new FileReader();

                 reader.onload = function (e) {
                     $('#img-upload').attr('src', e.target.result);
                 }

                 reader.readAsDataURL(input.files[0]);
             }
         }

         $("#imgInp").change(function(){
             readURL(this);
         });
     });*/
    //***********if you need to get the file name or change it you may need some parts of this

   
    function insert() {

    
        var nom = $('#NomCours').val();
        var desc = $('#Desc').val();
        var prix = $('#prixCours').val();
        var niveau = $('#selectedNiveau').find(":selected").text();
        var cat = $('#selectCat').find(":selected").text();


        $.ajax({
            url: '/Enseignant/InsertCours',
            type: 'POST',
            dataType: 'json',
            data: { Nom: nom, Desc: desc, Prix: prix, Cat: cat, Niveau: niveau },
            success: function (data) {
               
                //display seccess message to the DOM
                alert('insert ok');
            }, error: function (data) {
                alert(data.error);
            }
        });

    }
</script>