﻿
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Enseignant/_LayoutEnseignant.cshtml";
}

<h2>Upload File</h2>
<body>
    @using (Html.BeginForm("UploadFile", "Enseignant", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file"  />
        <input type="hidden" name="fullName" value="@ViewBag.fullName" />
        <input type="hidden" name="idCours" value="@ViewBag.idCours" />
        <input type="submit" value="LOAD" />
    }
</body>
