﻿<html>
@RenderSection("scripts", required: false)
<head>
    <title>THOT</title>
    <meta charset="utf-8">
    <link href="~/Style/LayoutStyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/style/MyStyleSheet.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" class="bg-light">
    <div class="vertical-nav bg-white" id="sidebar">
        <a href="@Url.Action("Index")" class="nav-link bg-light text-dark font-italic ">
            <big>THOT</big>
        </a>
        <ul class="dropdown-menu dropdown-menu-right mt-2" id="form1">
            <li class="px-3 py-2">
                <form class="form" role="form" method="post" name="form" action="~/Home/Index">
                    <div class="form-group">
                        <input id="form-styling" type="text" class="form-control form-control-sm mx-auto" name="LoginEtudiant" placeholder="Login">
                    </div>
                    <div class="form-group">
                        <input id="form-styling" type="password" class="form-control form-control-sm mx-auto" name="Password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <center><button type="submit" class="btn btn-success mt-2 mt-sm-0">Log in</button></center>
                    </div>
                    <div class="form-group text-center">
                        <small><a href="@Url.Action("inscription")">Not a member yet? </a></small>
                    </div>
                </form>
            </li>
        </ul>
        <p class="text-gray font-weight-bold text-uppercase px-3 small pt-4 mb-0">Main</p>
        <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-primary text-center justify-content-center ml-2 my-2 dropdown-toggle"><i class="fa fa-sign-in mr-3"></i>Log in<span class="caret"></span></button>
        <button type="button" onclick="window.location.href='@Url.Action("loginEnseignant")'" class="btn btn-outline-secondary text-center justify-content-center ml-2 my-2"><i class="fa fa-university mr-3"></i>Teacher<span class="caret"></span></button>
        <ul class="nav flex-column bg-white mb-0">
            <li class="nav-item">
                <a href="@Url.Action("Index")" class="nav-link bg-light text-dark font-italic ">
                    <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                    <big>Home</big>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("About")" class="nav-link text-dark font-italic">
                    <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                    <big>About</big>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index")#cours" class="nav-link text-dark font-italic">
                    <i class="fa fa-list-alt mr-3 text-primary fa-fw"></i>
                    <big>courses</big>
                </a>
            </li>
        </ul>
        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Categories</p>
        <ul class="nav nav-pills flex-column mb-0 ">
            @foreach (string element in ViewBag.cat)
            {
                <li class="nav-item">
                    <a href="~/Home/Index#cours" class="nav-link">
                        <i class="fa fa-hashtag mr-3"></i>
                        @element
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="page-content p-5" id="content">
        <div class="row bg-light rounded-top" id="toprow">
            <div class="col-12">
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 sticky-top">
                    <i class="fa fa-bars my-1 mr-2"></i>
                    <small class="text-uppercase font-weight-bold">Menu</small>
                </button>
            </div>
        </div>
        @RenderBody()
        <button id="sidebarCollapse2" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4 fixed-bottom">
            <i class="fa fa-bars"></i>
        </button>
        <footer class="sticky-bottom bg-light" id="downrow">
            <center>&copy; @DateTime.Now.Year - THOT .Co</center>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
        $(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
            $('#sidebarCollapse2').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });
    </script>
</body>
</html>
