﻿<link href="~/Style/aboutStyle.css" rel="stylesheet" />
    <div class="bg-light">
        <div class="container-fluid py-5">
            <div class="row h-100 align-items-center py-5">
                <div class="col-lg-6">
                    <h1 class="display-4">About us page</h1>
                    <p class="lead text-muted mb-0">
                        Adored everywhere in Egypt, like the god of the moon, master of letters, sciences and inventions. Thot
                        became the god of wisdom whose broad knowledge was associated with magic, music,
                        medicine, astronomy, geometry, etc ...
                    </p>
                </div>
                <div class="col-lg-6 d-none d-lg-block"><img src="~/images/about1.png" alt="" class="img-fluid mb-4 mb-lg-0" /></div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container-fluid py-5">
            <div class="row align-items-center mb-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light">Make your own schedule</h2>
                    <p class="font-italic text-muted mb-4">Study on your time without any obligation, leave and read the reviews on each course and feel free to ask questions to the teacher.</p>
                </div>
                <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="~/images/about2.jpg" alt="" class="img-fluid" /></div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 px-5 mx-auto"><img src="~/images/about3.jpg" alt="" class="img-fluid mb-4 mb-lg-0" /></div>
                <div class="col-lg-6">
                    <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                    <h2 class="font-weight-light">Our services</h2>
                    <p class="font-italic text-muted mb-4">
                        Our web portal and mobile application platform will provide students with
                        primary, secondary and college level, the possibility of obtaining academic support on an ongoing basis,
                        punctual or physical. In addition, the platform will propose an E-learning type section or the set of
                        scientific course (Mathematics, Chemistry, Physics, Computer Science, Electronics, etc.) offered to the
                        primary, secondary and college will be available as Video Modules.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light py-5">
        <div class="container-fluid py-5">
            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 font-weight-light">Our team</h2>
                    <p class="font-italic text-muted">We are available on social media platforms, follow us!</p>
                </div>
            </div>

            <div class="row text-center justify-content-center">
                <div class="col-xl-4 col-md-6 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/images/salah.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm" />
                        <h5 class="mb-0">BOUKEDIRA Salah Eddine</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://www.facebook.com/play.rapboy" class="social-link"><i class="fa fa-facebook-f text-primary"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/RayoSalah" class="social-link"><i class="fa fa-twitter text-info"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/salah.edd_/" class="social-link"><i class="fa fa-instagram text-danger"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="btn disabled social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4">
                        <img src="~/images/mo.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"/>
                        <h5 class="mb-0">JLASSI Mohamed</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a href="https://www.facebook.com/mohamed.benbechir.33" class="social-link"><i class="fa fa-facebook-f text-primary"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="btn disabled social-link"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/jlassi_mo/" class="social-link"><i class="fa fa-instagram text-danger"></i></a></li>
                            <li class="list-inline-item"><a href="#" class="btn disabled social-link"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>