﻿@model projetFinal.Models.changePassword

@{
    ViewBag.Title = "changePassword";
}
<link href="~/Style/inscriptionStyle.css" rel="stylesheet" />
<div class="container mt-5 mb-5">
    <div id="inscription" class="row bg-light">
        <div class="col-md-6 col-sm-12 bg-light m-auto">
            <span>
                <br /><br />
                <h1><font color="red">Change your Username/Password</font></h1>
                <i><big>Please change the temporary usename and password before you continue!</big></i>
            </span>
            <div class="login-form">
                <br />
                <form method="post" action="changePassword">
                    <div class="form-group">
                        <label>Login</label>
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>New Login</label>
                        <input type="text" name="NewLogin" class="form-control" placeholder="Enter the new login..." required>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="NewPassword" class="form-control" placeholder="Enter the new password..." required>
                    </div>
                    <div class="form-group">
                        <span class="error text-danger">
                            @ViewBag.messageFail
                        </span>
                        <span class="error text-success">
                            @ViewBag.message
                        </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Change</button>
                    </div>
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index")'">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Home
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>