﻿@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<projetFinal.Models.ClsCours>

<link href="~/Style/indexStyle.css" rel="stylesheet" />

<div class="row text-center rounded p-0 bg-light mb-5">
    <div class="col-md-12 sm-12 my-5">
        <h1>Get The Best Free Online Courses</h1>
        <input class="btn btn-success btn-outline-info mt-3" id="btn-inscrit" type="button" value="Sign up" onclick="window.location='@Url.Action("inscription", "Home")'" />
    </div>
    <div class="col-md-6 sm-12 m-auto justify-content-center">
        <p>100% online training with the best universities and companies in the world. Learn MORE pay LESS... don't miss out & sign up now</p>
    </div>
    <div class="col-md-12 sm-12 mb-5">
        <span class="error text-danger">@ViewBag.data</span>
    </div>
</div>

<div id="cours" class="container-fluid mt-5">
    <div class="container-fluid bg-light" style="margin-top:100vh;">
        <div class="col-md-6 col-sm-6 col-xs-6 mx-auto my-5 text-center py-5">
            <h1>Our Course Categories</h1>
            <p><big>Discover our different categories. Each of them contains many courses that meet your needs, register now ... Don't miss out!</big></p>
        </div>
        <ul class="nav nav-tabs justify-content-center" role="tablist">
            @foreach (string element in ViewBag.cat)
            {
                <li class="nav-item">
                    <a class="nav-link" id="cat" data-toggle="tab" href="#@element">@element</a>
                </li>
            }
        </ul>
        <div class="tab-content">
            @foreach (string element in ViewBag.cat)
            {
            <div id="@element" class="container tab-pane">
                <div class="row mt-5">
                    @foreach (var item in Model)
                    {
                        if (element == item.Categorie)
                        {

                            <div class="col-md-3 col-sm-3 col-xs-6 mt-5 d-flex align-items-stretch" title="11,320 étudiants" data-html="true" data-content="<div class='row mb-4'>
                                            <div class='col-sm-4 col-xs-6'>
                                            <img src='~/images/@item.Image' alt='PHP image' class='img-thumbnail'>
                                            </div>
                                            <div class='col-sm-8 col-xs-6'>
                                            <h1 style='text-shadow: 2px 2px 4px gray;'>@item.Nomcours</h1>
                                            <p> @item.Nbremodule Courses<br />Par
                                                <i><a href='#'>@item.Auteur</a></i>
                                            </p>
                                            </div>
                                            </div>" data-toggle="popover" data-placement="right" data-trigger="hover"  onclick="window.location.href='coursInfos.html'">
				                        <div class="card shadow">
					                        <img class="card-img-top img-fluid" src="~/images/@item.Image" alt="Card image cap">
					                        <div class="card-block m-4">
                                                <h4 class="card-title m-2 mb-2 text-dark">@item.Nomcours</h4>
						                        <span class="card-text m-2"><i><big><font color="red">@item.Nbremodule Courses</font></big></i></span>
						                        <p class="card-text m-2"><small class="text-muted">@item.Auteur</small></p>
					                        </div>
				                        </div>

			                        </div>

                        }
                    }
                </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
        $('#cat').each(function () {
            $(this).addClass("active");
            
        });
    $('.tab-pane').first().addClass("active");

</script>