﻿
@{
    ViewBag.Title = "loginEnseignant";
    Layout = "~/Views/Home/_Layout.cshtml";
}
    <link href="~/Style/loginEnseignantStyle.css" rel="stylesheet" />
    <section class="login-block">
        <div class="container p-0">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Login Now</h2>
                    <form method="post" action="~/Home/loginEnseignant" class="login-form">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                            <input type="text" name="login" class="form-control" placeholder="">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="">
                        </div>

                        <div class="col-md-12 sm-12 mb-5">
                            <span class="error text-danger">@ViewBag.data</span>
                        </div>
                        <div class="form-check">

                            <button type="submit" class="btn btn-login float-right">Submit</button>
                        </div>

                    </form>
                </div>
                <div class="col-md-8 banner-sec">
                    <img src="~/images/ensbg.jpg" width="100%" />
                </div>
            </div>
    </section>
