﻿@model IEnumerable<projetFinal.Models.ClsCours>

@{
    ViewBag.Title = "MesCours";
    Layout = "~/Views/Home/_LayoutEtudiant.cshtml";
}
<link href="~/Style/StudentCornerStyle.css" rel="stylesheet" />
<div class="row text-white py-4 mb-4">
    <h2 class="col-md-12 col-sm-12 col-xs-12 h1 m-auto ">My courses list</h2>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3 col-xs-6 mt-5 d-flex align-items-stretch" title="@Html.DisplayFor(modelItem => item.Prix) $CAD" data-html="true" data-content="<div class='row mb-4'>
                    <div class='col-sm-4 col-xs-6'>
                    <img src='/images/@Html.DisplayFor(modelItem => item.Image)' alt=' image' class='img-fluid'>
                    </div>
                    <div class='col-sm-8 col-xs-6'>
                        <h1 style='text-shadow: 2px 2px 4px gray;'>@Html.DisplayFor(modelItem => item.Nomcours)</h1>
                    <p>@Html.DisplayFor(modelItem => item.Nbremodule) Courses
                    <br/>By
                    <i><a href='#'>@Html.DisplayFor(modelItem => item.Auteur)</a></i></p>
                    </div>
                    </div>" data-toggle="popover" data-placement="right" data-trigger="hover"  onclick='window.location.href="@Url.Action("ShowDetailCours","", new { id = @Html.DisplayFor(modelItem => item.Id) }, null)"'>
					<div class="card shadow">
						<img class="card-img-top img-fluid" src="~/images/@Html.DisplayFor(modelItem => item.Image)" alt="Card image cap">
						<div class="card-block m-4">
                            <h4 class="card-title m-2 mb-2 text-dark">@Html.DisplayFor(modelItem => item.Nomcours)</h4>
							<span class="card-text m-2"><i><big><font color="red">@Html.DisplayFor(modelItem => item.Nbremodule) Courses</font></big></i></span>
							<p class="card-text m-2"><small class="text-muted">@Html.DisplayFor(modelItem => item.Auteur)</small></p>
						</div>
					</div>
			</div>
    }
</div>
<script>
    $( document ).ready(function() {
	  $('#accueil').removeClass( "bg-light" );
	  $('#chat').removeClass( "bg-light" );
	  $('#mescours').addClass( "bg-light" );
	});
</script>