﻿
@model projetFinal.Models.ClsCours

@{
    ViewBag.Title = "ShowDetailCours";
    Layout = "~/Views/Home/_LayoutEtudiant.cshtml";
    HttpContext.Current.Session["lastRecordId"] = 0;
    int i = 1;

}
<link href="~/Style/ShowDetailCours.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row py-4 bg-light rounded">
        <div class="col-sm-4 col-xs-6 ">
            <img src="~/images/@Html.DisplayFor(model => model.Image)" alt="" class="img-thumbnail">
        </div>
        <div class="col-sm-8 col-xs-6 ">
            <h1 style="text-shadow: 2px 2px 4px gray;">@Html.DisplayFor(model => model.Nomcours)</h1>
            <p>
                <i>
                    @Html.DisplayFor(model => model.Description)
                </i>
            </p>
            <p>
                <span class="text-muted">@Html.DisplayFor(model => model.Niveau)</span>
                <br />
                @ViewBag.NbCours Courses
                <br />
                @ViewBag.NbEtudiant Etudiants
                <br />
                <b>
                    Par
                    <i><a href="#">@Html.DisplayFor(model => model.Auteur)</a></i>
                    <br />
                    <i>@Html.DisplayFor(model => model.Prix) $CAD</i>
                </b>
            </p>
            @if (ViewBag.inscrit == false)
            {<button onclick='window.location.href="@Url.Action("InscrireCours", "", new { idcours = @Html.DisplayFor(model => model.Id) }, null)"' class="btn btn-success">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Inscrire maintenant
                </button>
            }
        </div>
    </div>
    @if (ViewBag.inscrit == true)
    {<div class="row bg-light">
            <div class="col-sm-9 col-xs-12 ">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="myFrame" class="embed-responsive-item" src=""></iframe>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12 " style="max-height: 100vh;overflow:auto;-webkit-overflow-scrolling: touch;">
                <div class="list-group bg">
                    @foreach (string element in ViewBag.liens)
                    {
                        <button class="list-group-item btn btn-primary text-dark" onclick="changeCours('../../Videos/@element',this)">Chapitre @i</button>
                        i++;
                    }
                </div>
            </div>
        </div>
        <div class="row bg-light">
            <div class="col-sm-9 col-xs-12 mb-2 mt-2">
                <button class="btn" style="color:royalblue;" id="@Html.DisplayFor(model => model.Notescours)"><i class="fa fa-download"></i> Notes de cours</button>
                <button class="btn" style="color:green;" id="@Html.DisplayFor(model => model.Solutionnaires)"><i class="fa fa-download"></i> Solutionnaires</button>
                <button class="btn" id="@Html.DisplayFor(model => model.Laboratoires)"><i class="fa fa-download"></i> Laboratoires</button>
                <button class="btn" id="@Html.DisplayFor(model => model.Exercices)"><i class="fa fa-download"></i> Exercices</button>
                <button class="btn" id="@Html.DisplayFor(model => model.Quiz)"><i class="fa fa-download"></i> Quiz</button>
            </div>
        </div>
    }
    <div class="row bootstrap snippets bg-light">
        <div class="col-md-12 col-sm-12">
            <div class="comment-wrapper mt-4">
                <div class="panel panel-info bg-light">
                    <div class="panel-heading text-center m-0">
                        <h1>Reviews</h1>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list" id="CommentSection"></ul>
                        @if (ViewBag.inscrit == true)
                        {
                            <div class="bg-light sticky-top" id="commentSticky">
                                <textarea class="form-control p-0" placeholder="Write something..." rows="3" id="CommentArea"></textarea>
                                <br />
                                <button type="button" class="btn btn-info pull-right" id="Share">Share</button>
                                <div class="clearfix"></div>
                                <hr>
                            </div>

                        }
                    </div>
                    @if (ViewBag.inscrit == true)
                    {
                        <a class="btn pull-right" id="Show">
                            <i class="fa fa-plus"></i> Show more
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<script>
        var page = 5;
         load("");

        $('#Show').click(function () {
            page += 5;
            load("");
        });

        function initials(nom, prenom) {
          var initials = nom.charAt(0) + prenom.charAt(0);
          return initials.toUpperCase();
        }
    function load(Msg) {
        $.ajax({
                    url: '/Home/CommentCours',
                    type: 'POST',
                    dataType: 'json',
                    data: { MsgText: Msg, idCours:@Model.Id, i: page },
                    success: function (data) {
                                for (var element = 0 in data)
                                      {
                                            $('#CommentSection').append('<li class="media"><a href="#" class="pull-left mr-2"><div class="rounded-circle btn p-2" >' + initials(data[element].nom, data[element].prenom) + '</div></a><div class="media-body"> <span class="text-muted pull-right"><small class="text-muted" id="">' + formaterDate(data[element].dateinscrit) + '</small> </span><strong class="text-success" >' + data[element].login + '</strong><p>' + data[element].contenu + '</p></div></li>')
                                       }

                                 },
                    error: function (data) {
                       //alert(data.error);
                    }
                });
        }

    function formaterDate(date) {
        var dateN=parseInt(date.substr(6));

        return getTimeFormated(dateN);
    }
    function getTimeFormated(dateN) {
        var seconds = Math.floor((new Date() - dateN) / 1000);
            var interval = Math.floor(seconds / 31536000);
            if (interval > 1) {
            return interval + " years ago";
            }
            interval = Math.floor(seconds / 2592000);
            if (interval > 1) {
            return interval + " months ago";
            }
            interval = Math.floor(seconds / 86400);
            if (interval > 1) {
            return interval + " days ago";
            }
            interval = Math.floor(seconds / 3600);
            if (interval >= 1) {
            return interval + " hours ago";
            }
            interval = Math.floor(seconds / 60);
            if (interval > 1) {
            return interval + " minutes ago";
            }
            return Math.floor(seconds) + " seconds";
        }



             //Script references. -->
//SignalR script to update the chat page and send messages.-->


    $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message,idcours) {
                    // Add the message to the page.
                if (idcours == '@Session["idCours"]')
                {
                    // to do formater le nouveau commentaire
                    //$('#CommentSection').append('<li><strong>' + htmlEncode(name)
                    //+ '</strong>: ' + htmlEncode(message) + '</li>');
                    $('#CommentSection').append('<li class="media"><a href="#" class="pull-left mr-2"><div class="rounded-circle btn p-2" >' + initials(name, name) + '</div></a><div class="media-body"> <span class="text-muted pull-right"><small class="text-muted" id="">' + getTimeFormated(new Date()) + '</small></span><strong class="text-success" >' + htmlEncode(name) + '</strong><p>' + htmlEncode(message) + '</p></div></li>');
                }
            };
            // Get the user name and store it to prepend to messages.

            // Set initial focus to message input box.
            // Start the connection.
        $.connection.hub.start().done(function () {
                $('#Share').click(function () {
                    load($('#CommentArea').val());
                    // Call the Send method on the hub.
                    chat.server.send('@Session["LoginEtudiant"]', $('#CommentArea').val(),'@Model.Id');
                    // Clear text box and reset focus for next comment.

                    $('#CommentArea').val('').focus();
                });
            });
    });
    // This optional function html-encodes messages for display in the page.
    function htmlEncode(value) {
        var encodedValue = $('<div />').text(value).html();
        return encodedValue;
    }
    function changeCours(lien,btn) {
        $('#myFrame').attr('src', lien);
        $('.list-group button').removeClass("active");
        $(btn).addClass("active");

    }
</script>

